/* 
 * Supplementary rules to Digital Strategies' CSS. This includes novel 
 * rules along with those that are derived from DS's CSS to work
 * with the PWC.
 */

:host {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

*,
*::before,
*::after {
    box-sizing: inherit
}

 @media (min-width: 1070px) {
    .mega-menu {
        display: none;
    }
}

/* New color variable */
[data-theme="light"] + #overlay {
    --c-overlay: rgba(153, 142, 133, 0.2);
    /* --c-overlay: #e8e4e3; */
}
[data-theme="tone"] + #overlay {
    --c-overlay: rgba(107, 80, 26, 0.3);
    /* --c-overlay: #c5baa7; */
}
[data-theme="dark"] + #overlay {
    --c-overlay: rgba(255, 255, 255, 0.3);
    /* --c-overlay: #555555; */
}

:host > #overlay {
    display: none;
}
@media (min-width: 1070px) {
    :host > #overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 40;
        background: var(--c-overlay);
    }
}
/* Remove jQuery fadeIn/fadeOut dependency. Derived from https://stackoverflow.com/a/50546888. */
:host > #overlay {
    display: block;
    overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}
:host > #overlay.show {
    height: 100%; 
    opacity: 1;
    transition: height 0ms 0ms, opacity 400ms 0ms;
}

/* Not sure why PurgeCSS removes this rule from DS's primary-nav-children.css */
.primary-nav .primary-nav__search-input {
    width: 100px;
}

.depository-logo {
    width: 30px;
}

.site-footer .site-footer__social a[href*="tiktok"] svg {
    height: 60%;
}

.site-footer .site-footer__social a[href*="flickr"] svg {
    width: 60%;
}
