/* 
 * Supplementary rules to Digital Strategies' CSS. This includes novel 
 * rules along with those that are derived from DS's CSS to work
 * with the PWC.
 */

:host {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

/* Not sure why PurgeCSS removes this rule from DS's primary-nav-children.css */
.primary-nav .primary-nav__search-input {
    width: 100px;
}

.depository-logo {
    width: 30px;
}

.site-footer .site-footer__social a[href*="tiktok"] svg {
    height: 60%;
}

.site-footer .site-footer__social a[href*="flickr"] svg {
    width: 60%;
}
